# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cache
*~

#cmake CLion
.idea/
cmake-build-debug/
lib/
fmlbase.exe

#Eigen
!eigen

#ignore large data
*.log
Tasks/Synthetic/*.csv
Tasks/DrivFace_CMR/*
!Tasks/DrivFace_CMR/Readme.md
!Tasks/DrivFace_CMR/config.txt
Tasks/DrivFace/*
!Tasks/DrivFace/Readme.md
!Tasks/DrivFace/config.txt
Tasks/GHG/*
Tasks/GHG/ghg_data
!Tasks/GHG/Readme.md
!Tasks/GHG/config.txt
Tasks/Synthetic_CMR/*.csv
